extend layout
block content
    div.panel
        div.back
            a(href='/').
                ←
        div.info.instructions
            div.text.text-instructions
                p.
                    You've just robbed a bank, and you're in the hot seat.  Use your facial expressions to make the cop believe your far-fetched story--failing which, you'll go straight to jail. 
                p.
                    You will be given on-screen advice on what emotion to show on your face. Display it correctly and you might just get out of here. Good luck!
               
            div.controls
                a(href='#{storyLink}')
                    input.btn(id='begin-button', type='button', value='click to begin')
