extend layout
block content
    div.panel
        div.info.welcome
            div.text.text-welcome
                p.
                    Welcome to the JingRecord Staring at Computers Acting Class.
            div.controls
                a(href='#{instructionsLink}')
                    input.btn(id='enter-button', type='button', value='click to enter')
