* {
    @include box-sizing(border-box);
    -webkit-appearance: none;
}

html {
    height: 100%;
}

body {
    @include transition(background-color 0.2s ease-in-out 0);
    // margin: 0 auto;
    // width: 100%;
    // position: relative;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1.2;
    letter-spacing: 1px;
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #000;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

:focus {
    outline: none;
}

::selection {
    background: #ff0;
}

::-moz-selection {
    background: #ff0;
}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.bold {
    font-weight: bold;
}
